<div class="container-fluid">
  <div class="row header-color">
    <div class="col-6 header-col">
      <img src="assets/icons/icon-round-inverted.png" alt="Peregrine Logo" height="45px" width="45px">
      <p class="logo-label">Peregrine</p>
    </div>
    <div class="col-5" *ngIf="profile">
      <div class="d-flex flex-row-reverse">
        <p class="logo-name">Hi {{profile?.firstName + ' ' + profile?.lastName}}</p>
      </div>
    </div>
    <div class="col-1" *ngIf="logoutBtn">
      <div class="d-flex flex-row-reverse logout-btn">
        <button class="btn-danger fixed-right" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 router-outlet main">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row fixed-bottom text-center footer-color">
    <div class="col-12">
      <mat-icon>copyright</mat-icon> Sohrab Azam
    </div>
  </div>
</div>

<peregrine-loader *ngIf="loader"></peregrine-loader>
<ng-container *ngFor="let alert of alertArray; let i=index">
  <peregrine-alert *ngIf="alert" [type]="alert.type!" [message]="alert.message!" [showAlert]="alert.showAlert!"
    [showDate]="alert.showDate!" [autoCloseTime]="alert.autoCloseTime!"></peregrine-alert>
</ng-container>